.app {
  height: 100vh;
  min-height: 320px;
  min-width: 540px;
}

.list-group-item > .list-group {
  margin: 0.5rem calc(-1rem - 1px) calc(-0.5rem - 1px) 0;
}

.list-group-item > .list-group.list-group-flush {
  margin: 0.5rem -1rem -0.5rem 0;
}

.list-group-item > .list-group > .list-group-item {
  border-left: 0;
}

.list-group-item > .list-group-flush > .list-group-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
